<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.\SQL2014EXPRESS;Initial Catalog=&quot;Faceted Search using AJAXSitecore_core&quot;;Integrated Security=False;User ID=sa;Password=OasisD8A" />
  <add name="master" connectionString="Data Source=.\SQL2014EXPRESS;Initial Catalog=&quot;Faceted Search using AJAXSitecore_master&quot;;Integrated Security=False;User ID=sa;Password=OasisD8A" />
  <add name="web" connectionString="Data Source=.\SQL2014EXPRESS;Initial Catalog=&quot;Faceted Search using AJAXSitecore_web&quot;;Integrated Security=False;User ID=sa;Password=OasisD8A" />
  <add name="analytics" connectionString="mongodb://localhost:27017/Faceted_Search_using_AJAX_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/Faceted_Search_using_AJAX_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/Faceted_Search_using_AJAX_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/Faceted_Search_using_AJAX_tracking_contact" />
  <add name="reporting" connectionString="Data Source=.\SQL2014EXPRESS;Initial Catalog=&quot;Faceted Search using AJAXSitecore_reporting&quot;;Integrated Security=False;User ID=sa;Password=OasisD8A" />

  <add name="adventureworks" connectionString="Data Source=.\SQL2014EXPRESS;Initial Catalog=&quot;AdventureWorksLT2008R2&quot;;Integrated Security=False;User ID=sa;Password=OasisD8A" />
</connectionStrings>