<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="website">
        <patch:attribute name="database">master</patch:attribute>
        <patch:attribute name="cacheHtml">false</patch:attribute>
      </site>
    </sites>

    <pipelines>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
          type="SC8AjaxFacetedSearch._Sitecore.Pipelines.Initializers.RegisterHttpRoutes, SC8AjaxFacetedSearch" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
